html {
    text-rendering: optimizeLegibility;
}
html, body {
    height: 100%;
    width: 100%;
}

* + * {
    box-sizing: border-box;
    margin: 0;
}

@media(min-width: 35em) {
    .row {
        display: flex;
        margin: 1em 0;
        justify-content: space-between;
    }
    .\31 -col { flex-basis: 5%;  }
    .\32 -col { flex-basis: 15%; }
    .\33 -col { flex-basis: 22%; }
    .\34 -col { flex-basis: 30%; }
    .\35 -col { flex-basis: 40%; }
    .w100 { width: 100%; }
}

.x {
    max-width: 60em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;
}

p { padding: .5em 0; }
ul, ol {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
