doctype html
html(lang="en")
    header(charset="utf-8")
    title Articles
    link(rel="stylesheet" type="text/css" href="css/articles_767d.css")

body
    main.x.center
        h1 Articles

        div
            .d
                time(datetime="2018-01") Jan 2018
            a(href="/articles/python-optimization") Python Optimizations 
        div
            .d
                time(datetime="2018-01") Jan 2018
            a(href="/articles/python-optimization") Python Optimizations 
        div
            .d.diff-month
                time(datetime="2018-01") Feb 2018
            a(href="/articles/python-optimization") Python Optimizations 
