doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title zypeh's site
        link(rel="stylesheet" type="text/css" href="css/index_767d.css")

    body
        main.x
            article
                .w100#about-me
                    h1 Zhengyan Peh (zypeh)
                    br
                    img(src="/img/me.jpg" alt="")
                    p I'm an engineer at Revenue Monster, a fintech service vendor company where I help design, build, and run our services and maintain our internal tooling.
                    p I focus on interactive media arts, software systems, and culture.
                    p I believe in writing proofable codes and compile in a sane method, to performant executable is the bright future of programming.

                .w100#more
                    p
                        |© 2019
                        |#[br]
                        |#[a(href="mailto:zypeh.geek@gmail.com") zypeh.geek@gmail.com]
                    p
                        |#[a(href="https://twitter.com/ZhengyanPeh") Twitter] &middot;
                        |#[a(href="https://www.instagram.com/zypeh") Instagram] &middot;
                        |#[a(href="https://t.me/zypeh") Telegram]
